.footer {
  margin-top: auto;
  padding-bottom: 50px;
  position: relative;
  z-index: 1;

  &-wrapper {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;

    p {
      font-size: 12px;
      text-transform: uppercase;
      color: $white;
    }
  }

  &-form {
    width: 260px;

    p {
      font-size: 10px;
      text-transform: uppercase;
      color: $grey;
      line-height: 12px;
    }

    &__email {
      margin: 10px 0;

      input {
        width: 100%;
        background: #1e1e1e;
        height: 40px;
        padding-left: 18px;
        display: block;
        font-size: 12px;
        font-weight: 500;
        color: $grey;
      }
    }

    &__btn {
      @include button;
      width: 100%;

      span {
        font-size: 14px;
        font-weight: 500;

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
