.news {
  margin-top: 24px;

  &-section {
    background: $primary;
    padding: 64px 0;
  }

  &-single {
    &__item {
      &-title {
        font-size: 24px;
        line-height: 32px;
      }

      &-date {
        color: $grey;
        font-size: 14px;
        text-transform: uppercase;
      }

      &-content {
        margin-top: 24px;
        color: $white;
        font-size: 14px;
        line-height: 120%;

        h3 {
          font-size: 22px;
          font-weight: 700;
        }

        a {
          color: $action;
          text-decoration: underline;

          &:hover {
            color: lighten($action, 20%);
          }
        }

        p {
          margin: 12px 0;
        }

        img {
          margin: 16px 0;
        }
      }
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-top: 20px;

    &__item {
      display: flex;
      justify-content: flex-start;
      column-gap: 24px;

      &-img {
        min-width: 300px;
        height: 168px;
        object-fit: cover;
      }

      &-info {
        display: flex;
        flex-direction: column;
      }

      &-date {
        color: $grey;
        font-size: 14px;
        text-transform: uppercase;
      }

      &-title {
        color: $white;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 16px;
        line-height: 140%;
      }

      &-btn {
        @include button;
        width: max-content;
        margin-top: auto;
      }
    }
  }

  &-item {
    &__image {
      width: 100%;
      height: 188px;
      overflow: hidden;

      img {
        max-width: unset;
        height: 100%;
        object-fit: cover;
      }
    }

    &__title {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: $white;
      text-transform: uppercase;
      margin-top: 24px;
    }
  }
}

.navigation {
  display: flex;
  justify-content: flex-end;
  margin-top: 24p;

  &-button {
    cursor: pointer;

    .icon {
      width: 64px;
      height: 64px;
      stroke: $white;
      opacity: 0.5;
      transition: opacity 0.25s;
    }

    &:hover {
      .icon {
        opacity: 1;
      }
    }
  }

  &-prev {
    .icon {
      transform: rotate(-180deg);
    }
  }
}
